<header>
  <div class="front">
    <a href="/" class="btn btn-secondary">首頁</a>
  </div>

  <div class="nav-bar">
    <a href="./about" class="btn btn-secondary">about</a>
    <a href="./portfolio" class="btn btn-dark">portfolio</a>
    <a href="/contact" class="btn btn-secondary">contact</a>
  </div>
</header>

<div class="main">
  <h2>Portfolio</h2>
</div>